In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/matched/all_years_matched.csv', parse_dates=['time'])

In [3]:
drop = ['Local Site Name',
       'Address', 'State Name', 'County Name', 'City Name', 'proj_longitude',
       'proj_latitude', 'index', 'POC']
df = df.drop(columns=drop, axis=1)

In [4]:
df

,time,longitude,latitude,value,AOD,u10,v10,d2m,t2m,lai_hv,lai_lv,sp,skt,tp,blh
0,2017-05-24,-109.870760,42.869824,4.181818,0.083098,1.510210,-0.878591,275.366730,282.727539,4.325676,1.530060,77272.164062,282.327271,0.000103,815.415466
1,2017-05-24,-109.870760,42.869824,4.100000,0.083098,1.510210,-0.878591,275.366730,282.727539,4.325676,1.530060,77272.164062,282.327271,0.000103,815.415466
2,2017-05-24,-109.561472,40.464710,5.583333,1.031703,1.312775,0.569696,274.183685,289.515289,4.971281,0.609112,80967.625000,292.071259,0.000007,1064.368286
3,2017-05-24,-109.561472,40.464710,5.500000,1.031703,1.312775,0.569696,274.183685,289.515289,4.971281,0.609112,80967.625000,292.071259,0.000007,1064.368286
4,2017-05-24,-109.455315,47.048537,2.756522,0.757455,2.567158,1.855299,277.081024,290.394623,4.891571,1.478176,86218.070312,290.078278,0.000075,1170.583496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001390,2021-12-31,-76.953426,38.894770,7.800000,0.418024,-0.011485,1.427262,283.057953,284.203003,1.631401,2.021663,100787.132812,283.926544,0.000430,227.616516
1001391,2021-12-31,-76.059210,43.052350,12.233333,0.211089,0.225632,0.611160,276.640167,277.287903,1.200491,1.946628,99442.007812,276.839325,0.000552,233.295944
1001392,2021-12-31,-76.059210,43.052350,12.200000,0.211089,0.225632,0.611160,276.640167,277.287903,1.200491,1.946628,99442.007812,276.839325,0.000552,233.295944
1001393,2021-12-31,-73.821530,40.736140,18.379167,0.462988,0.549237,1.148175,280.426575,281.022064,2.092024,1.252779,101083.625000,280.682587,0.000578,148.518616
1001394,2021-12-31,-73.821530,40.736140,18.300000,0.462988,0.549237,1.148175,280.426575,281.022064,2.092024,1.252779,101083.625000,280.682587,0.000578,148.518616

In [5]:
seasons_df = df.copy()

In [6]:
months_df = df.copy()

# Making seasons

In [7]:
sp = 'spring'
f = 'fall'
sm = 'summer'
w = 'winter'
seasons = [w, w, sp, sp, sp, sm, sm, sm, f, f, f, w]

month_to_season = dict(zip(range(1,13), seasons))
seasons_df['season'] = seasons_df.time.dt.month.map(month_to_season)
seasons_df.season = seasons_df.season.astype('category')

In [8]:
seasons_df = pd.get_dummies(seasons_df[seasons_df.columns])

In [9]:
seasons_df

,time,longitude,latitude,value,AOD,u10,v10,d2m,t2m,lai_hv,lai_lv,sp,skt,tp,blh,season_fall,season_spring,season_summer,season_winter
0,2017-05-24,-109.870760,42.869824,4.181818,0.083098,1.510210,-0.878591,275.366730,282.727539,4.325676,1.530060,77272.164062,282.327271,0.000103,815.415466,0,1,0,0
1,2017-05-24,-109.870760,42.869824,4.100000,0.083098,1.510210,-0.878591,275.366730,282.727539,4.325676,1.530060,77272.164062,282.327271,0.000103,815.415466,0,1,0,0
2,2017-05-24,-109.561472,40.464710,5.583333,1.031703,1.312775,0.569696,274.183685,289.515289,4.971281,0.609112,80967.625000,292.071259,0.000007,1064.368286,0,1,0,0
3,2017-05-24,-109.561472,40.464710,5.500000,1.031703,1.312775,0.569696,274.183685,289.515289,4.971281,0.609112,80967.625000,292.071259,0.000007,1064.368286,0,1,0,0
4,2017-05-24,-109.455315,47.048537,2.756522,0.757455,2.567158,1.855299,277.081024,290.394623,4.891571,1.478176,86218.070312,290.078278,0.000075,1170.583496,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001390,2021-12-31,-76.953426,38.894770,7.800000,0.418024,-0.011485,1.427262,283.057953,284.203003,1.631401,2.021663,100787.132812,283.926544,0.000430,227.616516,0,0,0,1
1001391,2021-12-31,-76.059210,43.052350,12.233333,0.211089,0.225632,0.611160,276.640167,277.287903,1.200491,1.946628,99442.007812,276.839325,0.000552,233.295944,0,0,0,1
1001392,2021-12-31,-76.059210,43.052350,12.200000,0.211089,0.225632,0.611160,276.640167,277.287903,1.200491,1.946628,99442.007812,276.839325,0.000552,233.295944,0,0,0,1
1001393,2021-12-31,-73.821530,40.736140,18.379167,0.462988,0.549237,1.148175,280.426575,281.022064,2.092024,1.252779,101083.625000,280.682587,0.000578,148.518616,0,0,0,1
1001394,2021-12-31,-73.821530,40.736140,18.300000,0.462988,0.549237,1.148175,280.426575,281.022064,2.092024,1.252779,101083.625000,280.682587,0.000578,148.518616,0,0,0,1

In [10]:
seasons_df.to_csv('data/matched/all_years_final_seasons.csv', index=False)

# Making Months

In [11]:
months_df['month'] = months_df.time.dt.month
months_df.month = months_df.month.astype('category')

In [12]:
months_df = pd.get_dummies(months_df[months_df.columns])

In [13]:
months_df

,time,longitude,latitude,value,AOD,u10,v10,d2m,t2m,lai_hv,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,2017-05-24,-109.870760,42.869824,4.181818,0.083098,1.510210,-0.878591,275.366730,282.727539,4.325676,...,0,0,1,0,0,0,0,0,0,0
1,2017-05-24,-109.870760,42.869824,4.100000,0.083098,1.510210,-0.878591,275.366730,282.727539,4.325676,...,0,0,1,0,0,0,0,0,0,0
2,2017-05-24,-109.561472,40.464710,5.583333,1.031703,1.312775,0.569696,274.183685,289.515289,4.971281,...,0,0,1,0,0,0,0,0,0,0
3,2017-05-24,-109.561472,40.464710,5.500000,1.031703,1.312775,0.569696,274.183685,289.515289,4.971281,...,0,0,1,0,0,0,0,0,0,0
4,2017-05-24,-109.455315,47.048537,2.756522,0.757455,2.567158,1.855299,277.081024,290.394623,4.891571,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001390,2021-12-31,-76.953426,38.894770,7.800000,0.418024,-0.011485,1.427262,283.057953,284.203003,1.631401,...,0,0,0,0,0,0,0,0,0,1
1001391,2021-12-31,-76.059210,43.052350,12.233333,0.211089,0.225632,0.611160,276.640167,277.287903,1.200491,...,0,0,0,0,0,0,0,0,0,1
1001392,2021-12-31,-76.059210,43.052350,12.200000,0.211089,0.225632,0.611160,276.640167,277.287903,1.200491,...,0,0,0,0,0,0,0,0,0,1
1001393,2021-12-31,-73.821530,40.736140,18.379167,0.462988,0.549237,1.148175,280.426575,281.022064,2.092024,...,0,0,0,0,0,0,0,0,0,1
1001394,2021-12-31,-73.821530,40.736140,18.300000,0.462988,0.549237,1.148175,280.426575,281.022064,2.092024,...,0,0,0,0,0,0,0,0,0,1

In [14]:
months_df.to_csv('data/matched/all_years_final_months.csv', index=False)