In [8]:
import pandas as pd
import glob

In [11]:
df = pd.concat([
    pd.read_csv(f, parse_dates=['time']) for f in sorted(glob.glob('/Volumes/Canon/matched/2021/*.csv'))
], axis=0)

In [12]:
df

,time,AOD,AOD470,AE,n_snapshots,lat,lon,u10,v10,d2m,t2m,lai_hv,lai_lv,skt,sp,tp,blh,PM25
0,2021-01-01,0.197795,NaN,NaN,62.0,44.829544,-68.770198,1.339392,-1.143848,262.91077,270.27658,1.737687,0.792444,270.18555,102192.520,0.000165,609.64386,6.204166
1,2021-01-01,0.092993,NaN,NaN,8.0,45.802908,-108.437245,2.985587,2.119966,263.74744,273.02805,4.975866,0.757867,270.95938,89627.086,0.000019,219.89328,5.229166
2,2021-01-01,0.091814,NaN,NaN,45.0,44.562131,-70.548633,1.639123,-1.138172,262.63785,268.46408,1.460827,0.000000,268.45258,99491.710,0.000117,507.06006,4.225000
3,2021-01-01,0.079944,NaN,NaN,44.0,44.378806,-68.261193,3.019855,-2.948469,264.82280,271.90677,3.060048,0.000000,272.64645,102398.300,0.000202,715.15060,2.437500
4,2021-01-01,0.039230,NaN,NaN,45.0,44.080211,-70.217898,0.814891,-0.627970,264.88770,271.57022,1.660882,0.328938,271.18723,101841.230,0.000073,500.77222,7.225000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,2021-12-31,0.152549,NaN,NaN,39.0,26.080250,-80.339268,-0.324713,1.157491,293.26663,296.60840,1.894115,3.074326,297.09293,101816.970,0.000134,305.59048,12.545834
154,2021-12-31,0.248578,NaN,NaN,49.0,26.058203,-80.255763,-0.309033,1.338234,293.43088,296.85340,2.370690,3.119231,297.20853,101810.695,0.000135,300.34012,7.027083
155,2021-12-31,0.520558,NaN,NaN,64.0,26.215541,-98.279937,-2.425614,4.567854,293.05582,297.45526,0.000000,0.936395,298.00247,100392.920,0.000048,531.90875,21.929167
156,2021-12-31,0.587662,NaN,NaN,33.0,25.801249,-80.221746,-0.710662,1.656932,293.58365,297.34024,0.872452,3.478603,298.12918,101809.120,0.000108,323.44553,6.506250
157,2021-12-31,0.324781,NaN,NaN,2.0,25.888730,-97.482547,-1.840326,6.192614,295.22107,297.63815,0.000000,0.896574,298.33930,100827.630,0.000059,601.08010,18.316666

In [15]:
df.dropna()

Empty DataFrame
Columns: [time, AOD, AOD470, AE, n_snapshots, lat, lon, u10, v10, d2m, t2m, lai_hv, lai_lv, skt, sp, tp, blh, PM25]
Index: []

In [16]:
drop = ['AE', 'AOD470']
df = df.drop(columns=drop, axis=1)

In [17]:
df

,time,AOD,n_snapshots,lat,lon,u10,v10,d2m,t2m,lai_hv,lai_lv,skt,sp,tp,blh,PM25
0,2021-01-01,0.197795,62.0,44.829544,-68.770198,1.339392,-1.143848,262.91077,270.27658,1.737687,0.792444,270.18555,102192.520,0.000165,609.64386,6.204166
1,2021-01-01,0.092993,8.0,45.802908,-108.437245,2.985587,2.119966,263.74744,273.02805,4.975866,0.757867,270.95938,89627.086,0.000019,219.89328,5.229166
2,2021-01-01,0.091814,45.0,44.562131,-70.548633,1.639123,-1.138172,262.63785,268.46408,1.460827,0.000000,268.45258,99491.710,0.000117,507.06006,4.225000
3,2021-01-01,0.079944,44.0,44.378806,-68.261193,3.019855,-2.948469,264.82280,271.90677,3.060048,0.000000,272.64645,102398.300,0.000202,715.15060,2.437500
4,2021-01-01,0.039230,45.0,44.080211,-70.217898,0.814891,-0.627970,264.88770,271.57022,1.660882,0.328938,271.18723,101841.230,0.000073,500.77222,7.225000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,2021-12-31,0.152549,39.0,26.080250,-80.339268,-0.324713,1.157491,293.26663,296.60840,1.894115,3.074326,297.09293,101816.970,0.000134,305.59048,12.545834
154,2021-12-31,0.248578,49.0,26.058203,-80.255763,-0.309033,1.338234,293.43088,296.85340,2.370690,3.119231,297.20853,101810.695,0.000135,300.34012,7.027083
155,2021-12-31,0.520558,64.0,26.215541,-98.279937,-2.425614,4.567854,293.05582,297.45526,0.000000,0.936395,298.00247,100392.920,0.000048,531.90875,21.929167
156,2021-12-31,0.587662,33.0,25.801249,-80.221746,-0.710662,1.656932,293.58365,297.34024,0.872452,3.478603,298.12918,101809.120,0.000108,323.44553,6.506250
157,2021-12-31,0.324781,2.0,25.888730,-97.482547,-1.840326,6.192614,295.22107,297.63815,0.000000,0.896574,298.33930,100827.630,0.000059,601.08010,18.316666

In [18]:
seasons_df = df.copy()

In [19]:
months_df = df.copy()

# Making seasons

In [20]:
sp = 'spring'
f = 'fall'
sm = 'summer'
w = 'winter'
seasons = [w, w, sp, sp, sp, sm, sm, sm, f, f, f, w]

month_to_season = dict(zip(range(1,13), seasons))
seasons_df['season'] = seasons_df.time.dt.month.map(month_to_season)
seasons_df.season = seasons_df.season.astype('category')

In [21]:
seasons_df = pd.get_dummies(seasons_df[seasons_df.columns])

In [22]:
seasons_df

,time,AOD,n_snapshots,lat,lon,u10,v10,d2m,t2m,lai_hv,lai_lv,skt,sp,tp,blh,PM25,season_fall,season_spring,season_summer,season_winter
0,2021-01-01,0.197795,62.0,44.829544,-68.770198,1.339392,-1.143848,262.91077,270.27658,1.737687,0.792444,270.18555,102192.520,0.000165,609.64386,6.204166,0,0,0,1
1,2021-01-01,0.092993,8.0,45.802908,-108.437245,2.985587,2.119966,263.74744,273.02805,4.975866,0.757867,270.95938,89627.086,0.000019,219.89328,5.229166,0,0,0,1
2,2021-01-01,0.091814,45.0,44.562131,-70.548633,1.639123,-1.138172,262.63785,268.46408,1.460827,0.000000,268.45258,99491.710,0.000117,507.06006,4.225000,0,0,0,1
3,2021-01-01,0.079944,44.0,44.378806,-68.261193,3.019855,-2.948469,264.82280,271.90677,3.060048,0.000000,272.64645,102398.300,0.000202,715.15060,2.437500,0,0,0,1
4,2021-01-01,0.039230,45.0,44.080211,-70.217898,0.814891,-0.627970,264.88770,271.57022,1.660882,0.328938,271.18723,101841.230,0.000073,500.77222,7.225000,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,2021-12-31,0.152549,39.0,26.080250,-80.339268,-0.324713,1.157491,293.26663,296.60840,1.894115,3.074326,297.09293,101816.970,0.000134,305.59048,12.545834,0,0,0,1
154,2021-12-31,0.248578,49.0,26.058203,-80.255763,-0.309033,1.338234,293.43088,296.85340,2.370690,3.119231,297.20853,101810.695,0.000135,300.34012,7.027083,0,0,0,1
155,2021-12-31,0.520558,64.0,26.215541,-98.279937,-2.425614,4.567854,293.05582,297.45526,0.000000,0.936395,298.00247,100392.920,0.000048,531.90875,21.929167,0,0,0,1
156,2021-12-31,0.587662,33.0,25.801249,-80.221746,-0.710662,1.656932,293.58365,297.34024,0.872452,3.478603,298.12918,101809.120,0.000108,323.44553,6.506250,0,0,0,1
157,2021-12-31,0.324781,2.0,25.888730,-97.482547,-1.840326,6.192614,295.22107,297.63815,0.000000,0.896574,298.33930,100827.630,0.000059,601.08010,18.316666,0,0,0,1

In [24]:
seasons_df.to_csv('data/matched/2021_seasons.csv', index=False)

# Making Months

In [25]:
months_df['month'] = months_df.time.dt.month
months_df.month = months_df.month.astype('category')

In [26]:
months_df = pd.get_dummies(months_df[months_df.columns])

In [27]:
months_df

,time,AOD,n_snapshots,lat,lon,u10,v10,d2m,t2m,lai_hv,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,2021-01-01,0.197795,62.0,44.829544,-68.770198,1.339392,-1.143848,262.91077,270.27658,1.737687,...,0,0,0,0,0,0,0,0,0,0
1,2021-01-01,0.092993,8.0,45.802908,-108.437245,2.985587,2.119966,263.74744,273.02805,4.975866,...,0,0,0,0,0,0,0,0,0,0
2,2021-01-01,0.091814,45.0,44.562131,-70.548633,1.639123,-1.138172,262.63785,268.46408,1.460827,...,0,0,0,0,0,0,0,0,0,0
3,2021-01-01,0.079944,44.0,44.378806,-68.261193,3.019855,-2.948469,264.82280,271.90677,3.060048,...,0,0,0,0,0,0,0,0,0,0
4,2021-01-01,0.039230,45.0,44.080211,-70.217898,0.814891,-0.627970,264.88770,271.57022,1.660882,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,2021-12-31,0.152549,39.0,26.080250,-80.339268,-0.324713,1.157491,293.26663,296.60840,1.894115,...,0,0,0,0,0,0,0,0,0,1
154,2021-12-31,0.248578,49.0,26.058203,-80.255763,-0.309033,1.338234,293.43088,296.85340,2.370690,...,0,0,0,0,0,0,0,0,0,1
155,2021-12-31,0.520558,64.0,26.215541,-98.279937,-2.425614,4.567854,293.05582,297.45526,0.000000,...,0,0,0,0,0,0,0,0,0,1
156,2021-12-31,0.587662,33.0,25.801249,-80.221746,-0.710662,1.656932,293.58365,297.34024,0.872452,...,0,0,0,0,0,0,0,0,0,1
157,2021-12-31,0.324781,2.0,25.888730,-97.482547,-1.840326,6.192614,295.22107,297.63815,0.000000,...,0,0,0,0,0,0,0,0,0,1

In [28]:
months_df.to_csv('data/matched/2021_months.csv', index=False)