In [1]:
import pandas as pd
import glob

In [2]:
df = pd.concat([
    pd.read_csv(f, parse_dates=['time']) for f in sorted(glob.glob('/Volumes/Canon/matched/**/*.csv'))
], axis=0)

In [3]:
df

,time,AOD,AOD470,AE,n_snapshots,lat,lon,u10,v10,d2m,t2m,lai_hv,lai_lv,skt,sp,tp,blh,PM25
0,2017-05-24,0.141138,NaN,NaN,18.0,48.642901,-102.388352,-2.100915,6.213420,274.02783,287.18985,0.000000,1.280845e+00,287.76663,92621.125,0.000012,799.35190,4.345455
1,2017-05-24,0.118808,NaN,NaN,74.0,47.963889,-91.490265,-1.754092,-0.484330,277.59268,283.46173,2.768832,4.893358e-02,282.63297,95815.010,0.000118,804.61194,2.813044
2,2017-05-24,2.067963,NaN,NaN,123.0,47.958929,-89.686068,-2.388471,-2.991081,276.77164,280.44046,2.105727,2.384186e-07,279.06894,97990.445,0.000079,316.28003,4.345652
3,2017-05-24,0.085860,NaN,NaN,72.0,48.311713,-107.848385,2.774111,3.756020,272.99970,292.95060,3.187948,1.280422e+00,294.00232,91093.330,0.000088,1391.45510,3.731250
4,2017-05-24,0.127507,NaN,NaN,30.0,48.142609,-103.647216,-2.828387,6.532441,273.82657,289.53900,2.025725,1.170510e+00,290.08520,93250.336,0.000006,879.63477,2.143750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,2021-12-31,0.152549,NaN,NaN,39.0,26.080250,-80.339268,-0.324713,1.157491,293.26663,296.60840,1.894115,3.074326e+00,297.09293,101816.970,0.000134,305.59048,12.545834
154,2021-12-31,0.248578,NaN,NaN,49.0,26.058203,-80.255763,-0.309033,1.338234,293.43088,296.85340,2.370690,3.119231e+00,297.20853,101810.695,0.000135,300.34012,7.027083
155,2021-12-31,0.520558,NaN,NaN,64.0,26.215541,-98.279937,-2.425614,4.567854,293.05582,297.45526,0.000000,9.363955e-01,298.00247,100392.920,0.000048,531.90875,21.929167
156,2021-12-31,0.587662,NaN,NaN,33.0,25.801249,-80.221746,-0.710662,1.656932,293.58365,297.34024,0.872452,3.478603e+00,298.12918,101809.120,0.000108,323.44553,6.506250
157,2021-12-31,0.324781,NaN,NaN,2.0,25.888730,-97.482547,-1.840326,6.192614,295.22107,297.63815,0.000000,8.965742e-01,298.33930,100827.630,0.000059,601.08010,18.316666

In [4]:
drop = ['AE', 'AOD470']
df = df.drop(columns=drop, axis=1)

In [5]:
df

,time,AOD,n_snapshots,lat,lon,u10,v10,d2m,t2m,lai_hv,lai_lv,skt,sp,tp,blh,PM25
0,2017-05-24,0.141138,18.0,48.642901,-102.388352,-2.100915,6.213420,274.02783,287.18985,0.000000,1.280845e+00,287.76663,92621.125,0.000012,799.35190,4.345455
1,2017-05-24,0.118808,74.0,47.963889,-91.490265,-1.754092,-0.484330,277.59268,283.46173,2.768832,4.893358e-02,282.63297,95815.010,0.000118,804.61194,2.813044
2,2017-05-24,2.067963,123.0,47.958929,-89.686068,-2.388471,-2.991081,276.77164,280.44046,2.105727,2.384186e-07,279.06894,97990.445,0.000079,316.28003,4.345652
3,2017-05-24,0.085860,72.0,48.311713,-107.848385,2.774111,3.756020,272.99970,292.95060,3.187948,1.280422e+00,294.00232,91093.330,0.000088,1391.45510,3.731250
4,2017-05-24,0.127507,30.0,48.142609,-103.647216,-2.828387,6.532441,273.82657,289.53900,2.025725,1.170510e+00,290.08520,93250.336,0.000006,879.63477,2.143750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,2021-12-31,0.152549,39.0,26.080250,-80.339268,-0.324713,1.157491,293.26663,296.60840,1.894115,3.074326e+00,297.09293,101816.970,0.000134,305.59048,12.545834
154,2021-12-31,0.248578,49.0,26.058203,-80.255763,-0.309033,1.338234,293.43088,296.85340,2.370690,3.119231e+00,297.20853,101810.695,0.000135,300.34012,7.027083
155,2021-12-31,0.520558,64.0,26.215541,-98.279937,-2.425614,4.567854,293.05582,297.45526,0.000000,9.363955e-01,298.00247,100392.920,0.000048,531.90875,21.929167
156,2021-12-31,0.587662,33.0,25.801249,-80.221746,-0.710662,1.656932,293.58365,297.34024,0.872452,3.478603e+00,298.12918,101809.120,0.000108,323.44553,6.506250
157,2021-12-31,0.324781,2.0,25.888730,-97.482547,-1.840326,6.192614,295.22107,297.63815,0.000000,8.965742e-01,298.33930,100827.630,0.000059,601.08010,18.316666

In [6]:
df.dropna()

,time,AOD,n_snapshots,lat,lon,u10,v10,d2m,t2m,lai_hv,lai_lv,skt,sp,tp,blh,PM25
0,2017-05-24,0.141138,18.0,48.642901,-102.388352,-2.100915,6.213420,274.02783,287.18985,0.000000,1.280845e+00,287.76663,92621.125,0.000012,799.35190,4.345455
1,2017-05-24,0.118808,74.0,47.963889,-91.490265,-1.754092,-0.484330,277.59268,283.46173,2.768832,4.893358e-02,282.63297,95815.010,0.000118,804.61194,2.813044
2,2017-05-24,2.067963,123.0,47.958929,-89.686068,-2.388471,-2.991081,276.77164,280.44046,2.105727,2.384186e-07,279.06894,97990.445,0.000079,316.28003,4.345652
3,2017-05-24,0.085860,72.0,48.311713,-107.848385,2.774111,3.756020,272.99970,292.95060,3.187948,1.280422e+00,294.00232,91093.330,0.000088,1391.45510,3.731250
4,2017-05-24,0.127507,30.0,48.142609,-103.647216,-2.828387,6.532441,273.82657,289.53900,2.025725,1.170510e+00,290.08520,93250.336,0.000006,879.63477,2.143750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,2021-12-31,0.152549,39.0,26.080250,-80.339268,-0.324713,1.157491,293.26663,296.60840,1.894115,3.074326e+00,297.09293,101816.970,0.000134,305.59048,12.545834
154,2021-12-31,0.248578,49.0,26.058203,-80.255763,-0.309033,1.338234,293.43088,296.85340,2.370690,3.119231e+00,297.20853,101810.695,0.000135,300.34012,7.027083
155,2021-12-31,0.520558,64.0,26.215541,-98.279937,-2.425614,4.567854,293.05582,297.45526,0.000000,9.363955e-01,298.00247,100392.920,0.000048,531.90875,21.929167
156,2021-12-31,0.587662,33.0,25.801249,-80.221746,-0.710662,1.656932,293.58365,297.34024,0.872452,3.478603e+00,298.12918,101809.120,0.000108,323.44553,6.506250
157,2021-12-31,0.324781,2.0,25.888730,-97.482547,-1.840326,6.192614,295.22107,297.63815,0.000000,8.965742e-01,298.33930,100827.630,0.000059,601.08010,18.316666

In [7]:
df = df.dropna()

In [8]:
seasons_df = df.copy()

In [9]:
months_df = df.copy()

# Making seasons

In [10]:
sp = 'spring'
f = 'fall'
sm = 'summer'
w = 'winter'
seasons = [w, w, sp, sp, sp, sm, sm, sm, f, f, f, w]

month_to_season = dict(zip(range(1,13), seasons))
seasons_df['season'] = seasons_df.time.dt.month.map(month_to_season)
seasons_df.season = seasons_df.season.astype('category')

In [11]:
seasons_df = pd.get_dummies(seasons_df[seasons_df.columns])

In [12]:
seasons_df

,time,AOD,n_snapshots,lat,lon,u10,v10,d2m,t2m,lai_hv,lai_lv,skt,sp,tp,blh,PM25,season_fall,season_spring,season_summer,season_winter
0,2017-05-24,0.141138,18.0,48.642901,-102.388352,-2.100915,6.213420,274.02783,287.18985,0.000000,1.280845e+00,287.76663,92621.125,0.000012,799.35190,4.345455,0,1,0,0
1,2017-05-24,0.118808,74.0,47.963889,-91.490265,-1.754092,-0.484330,277.59268,283.46173,2.768832,4.893358e-02,282.63297,95815.010,0.000118,804.61194,2.813044,0,1,0,0
2,2017-05-24,2.067963,123.0,47.958929,-89.686068,-2.388471,-2.991081,276.77164,280.44046,2.105727,2.384186e-07,279.06894,97990.445,0.000079,316.28003,4.345652,0,1,0,0
3,2017-05-24,0.085860,72.0,48.311713,-107.848385,2.774111,3.756020,272.99970,292.95060,3.187948,1.280422e+00,294.00232,91093.330,0.000088,1391.45510,3.731250,0,1,0,0
4,2017-05-24,0.127507,30.0,48.142609,-103.647216,-2.828387,6.532441,273.82657,289.53900,2.025725,1.170510e+00,290.08520,93250.336,0.000006,879.63477,2.143750,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,2021-12-31,0.152549,39.0,26.080250,-80.339268,-0.324713,1.157491,293.26663,296.60840,1.894115,3.074326e+00,297.09293,101816.970,0.000134,305.59048,12.545834,0,0,0,1
154,2021-12-31,0.248578,49.0,26.058203,-80.255763,-0.309033,1.338234,293.43088,296.85340,2.370690,3.119231e+00,297.20853,101810.695,0.000135,300.34012,7.027083,0,0,0,1
155,2021-12-31,0.520558,64.0,26.215541,-98.279937,-2.425614,4.567854,293.05582,297.45526,0.000000,9.363955e-01,298.00247,100392.920,0.000048,531.90875,21.929167,0,0,0,1
156,2021-12-31,0.587662,33.0,25.801249,-80.221746,-0.710662,1.656932,293.58365,297.34024,0.872452,3.478603e+00,298.12918,101809.120,0.000108,323.44553,6.506250,0,0,0,1
157,2021-12-31,0.324781,2.0,25.888730,-97.482547,-1.840326,6.192614,295.22107,297.63815,0.000000,8.965742e-01,298.33930,100827.630,0.000059,601.08010,18.316666,0,0,0,1

In [13]:
seasons_df.to_csv('data/matched/all_years_seasons.csv', index=False)

# Making Months

In [14]:
months_df['month'] = months_df.time.dt.month
months_df.month = months_df.month.astype('category')

In [15]:
months_df = pd.get_dummies(months_df[months_df.columns])

In [20]:
months_df

,time,AOD,n_snapshots,lat,lon,u10,v10,d2m,t2m,lai_hv,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,2017-05-24,0.141138,18.0,48.642901,-102.388352,-2.100915,6.213420,274.02783,287.18985,0.000000,...,0,0,1,0,0,0,0,0,0,0
1,2017-05-24,0.118808,74.0,47.963889,-91.490265,-1.754092,-0.484330,277.59268,283.46173,2.768832,...,0,0,1,0,0,0,0,0,0,0
2,2017-05-24,2.067963,123.0,47.958929,-89.686068,-2.388471,-2.991081,276.77164,280.44046,2.105727,...,0,0,1,0,0,0,0,0,0,0
3,2017-05-24,0.085860,72.0,48.311713,-107.848385,2.774111,3.756020,272.99970,292.95060,3.187948,...,0,0,1,0,0,0,0,0,0,0
4,2017-05-24,0.127507,30.0,48.142609,-103.647216,-2.828387,6.532441,273.82657,289.53900,2.025725,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,2021-12-31,0.152549,39.0,26.080250,-80.339268,-0.324713,1.157491,293.26663,296.60840,1.894115,...,0,0,0,0,0,0,0,0,0,1
154,2021-12-31,0.248578,49.0,26.058203,-80.255763,-0.309033,1.338234,293.43088,296.85340,2.370690,...,0,0,0,0,0,0,0,0,0,1
155,2021-12-31,0.520558,64.0,26.215541,-98.279937,-2.425614,4.567854,293.05582,297.45526,0.000000,...,0,0,0,0,0,0,0,0,0,1
156,2021-12-31,0.587662,33.0,25.801249,-80.221746,-0.710662,1.656932,293.58365,297.34024,0.872452,...,0,0,0,0,0,0,0,0,0,1
157,2021-12-31,0.324781,2.0,25.888730,-97.482547,-1.840326,6.192614,295.22107,297.63815,0.000000,...,0,0,0,0,0,0,0,0,0,1

In [17]:
months_df.to_csv('data/matched/all_years_months.csv', index=False)